<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fit-content</title>
    <link rel="stylesheet" href="css/fitcontent.css">
</head>
<body>
    <div class="conteiner fit-content">
           <div class="item">lorem</div>
              <div class="item">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, id?</div>
               <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam distinctio tenetur excepturi cum. Natus molestiae, explicabo beatae sint esse error.</div>
                 <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quas dignissimos ullam impedit rerum at saepe, vel libero obcaecati quia, cupiditate officia unde ab eum.</div>
    </div>
    <div class="conteiner">
          <div class="min-content">
             <div class="item">lorem</div>
               <div class="item">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, id?</div>
                 <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam distinctio tenetur excepturi cum. Natus molestiae, explicabo beatae sint esse error.</div>
                   <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quas dignissimos ullam impedit rerum at saepe, vel libero obcaecati quia, cupiditate officia unde ab eum.</div>
         </div>
    </div>
       <div class="conteiner">
       <div class="max-content">
        <div class="item">lorem</div>
        <div class="item">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, id?</div>
        <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam distinctio tenetur excepturi cum. Natus molestiae, explicabo beatae sint esse error.</div>
        <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quas dignissimos ullam impedit rerum at saepe, vel libero obcaecati quia, cupiditate officia unde ab eum.</div>
       </div>
    </div>
</body>
</html>