h3{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    text-shadow:  2px 2px 1px #0000fc4d;
    font-size: 25px;
}
.container{
    border: outset 8px orchid;
    margin-bottom: 10px;
    width: 700px;
    height: 350px;
    padding: 5px;
    display: flex;
}
.container div{
    border: solid 2px #ccc;
    background-color: blue;
    color: white;
    font-weight: 900;
    font-size: 30px;
    width: 100px;
    margin: 10px;
}
/*----trabalhando com container---*/
.container1{
    justify-content: space-between;
}
.container2{
    align-items: end;
    
}
.container3 div{
    width: 190px;
}
.container3{
   flex-wrap: wrap;
   align-content: center;
}
.container4{
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}
.container5{
    align-items: center;
}
.container6{
    align-items: center;
}
/*-----trabalahndo com itens dentro do container-----*/
.container1 .div1{
    flex-basis: 300px;
}
.container2 .div21{
    flex-grow: 1;
}
.container2 .div24{
    flex-grow: 2;
}
.container4 div{
    flex-basis: 300px;/*largura e altura depedendo do flex-direction comlum ou row*/
}

.container5 div{
    flex-basis: 200px;
}
.container5 .div51{
    flex-shrink: 4;
    order: 1;
}

.container6 .div61{
    align-self: flex-start;
}
.container6 .div62{
    align-self: flex-end;
}
.container6 .div63{
    align-self:first baseline;
}
