.conteiner{
    background-color: #ccc;
     width: 100%;
     margin: auto;
     overflow: auto;
}
.conteiner div{
    margin: 10px;
    height: 200px;
    width: 200px;
    font-weight: 800;
}
#div1{  
    background-color: blue;
    float: right;
}
#div2{
    background-color: blueviolet;
    float: left;
   
}
#div3{
    background-color: brown;
    float: right;/* determina que va para direita e o clear abaixo impedir que ele va para direita e acima*/
    clear: both; /*limpar o float do elementp acima para ele não oculpar o epaço acima */
}
#div4{
  background-color: yellow;
  float: left;

}
p{
    font-weight: 900;
}


/* 

esse cometario foi quando fiz aprimeira vez

float: left; faz com quer as div se sobre ponha  ou para img floatoar a lado de textos   clear é usado para barra e efeitos colaterais de sobrepor */

/*clear: left; aqui  eu barrei que a div3 ocupasse o espaço deixado pela div 2 com float-left ai ela se manteve no mesmo lugar
    clear: both; clear-both faz com quer a div3 não se inporte com qualquer flaot anterior tanto left e right */