h1{
  font-family: sans-serif;
  text-align: center;
  text-shadow: 2px 2px 2px greenyellow;
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 20px;
}
.container{
  background-color: #ccc;
  width: 500px;
  padding: 15px;
  position:relative;
  margin: auto;
}
.container div{
  color: white;
  border: solid 1px black;
  text-align: center;
  font-weight: 600;
  font-family: sans-serif;
  margin: 12px;
  width: 180px;
  height: 100px;
  
}
.relative{
  background-color: #ff9100;
  position: relative;
  
  left: 300px;
  /*ela se posicionnamento referente a ela mesmo  se desloca levando em consideração o espaço que ela oculpava então o espaço original fica preservado*/
}
.absolute{
  background-color: #0303ff;
  position: absolute;
  right: 10px;
  /*o posicionamento absolute se posiciona  com base  no elemento pai acima dele que esteja posicionado com alguma valor position menos istatic ele não matem seu espaçao original  caso não tenha um elemento pai posicionado ele se posiciona ao documento do body e sai do fluxo do seu container*/
  
}
.fixed{
  background-color:crimson;
   position: fixed;
   top: 200px;
   /*ele se posiciona sempre com janela do browser aparti do posição inicial que ele esta , como se ele tivesse flutuando por todo o documento e acima dele */
}
.sticky{
  background-color: fuchsia;
  position: sticky;
  /*ibrido do position relativo e fixed  ele so funcionar se pai dele tiver scroll barra de rolagem então*/
  
}