*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}
:root{
    --colorr--: #FED001;
} 
h1{
    font-size: 4.8rem; /*48px*/
    margin-bottom: 45px;/*tiver que aplicar para meu bnt descer mais*/
}
h2{
    font-size: 4rem;
}
h3{
   font-size: 1.5rem;
}
.upper{
    text-transform: uppercase;
}
.div-cor-nav{
    background-color: #2a2a2a;
    color: #fafafa;
    position: sticky;/*fixa o elemento e ainda matem o fluxo do documentor top 0 para deica no top*/
    top: 0;
}

.div-section3{
    background-color: #003464;
    color: #fafafa;
}
.container{
    max-width: 1276px;
    margin: auto;
}
nav a{
    color: var(--colorr--);
}
/*---------------------nav-------------------*/
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    
    
}
.nav-bar a{
    padding: .75em 1.15rem;
    border: solid 0.5px var(--colorr--);
    text-decoration: none;
}
.nav-bar ul {
    display: flex;
    gap: 7px;
    list-style: none;  
}
.nav-bar a:hover{
    background-color: black;
}
/*---------------------nav-------------------*/

/*---------------------baner (O SABER QUE TRANSFORMA NOSSO SER)-------------------*/
.div-section1{
    /*background-color: var(--colorr--);*/
    background-image: linear-gradient(white,yellow);/*mistura as cores */
}
.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}
.section-btn{

    color: black;
    background-color: var(--colorr--);
    border-radius: 4px;
    font-size: 1.8rem;
    padding: 10px 25px;
    text-decoration: none;
}
/*---------------------baner (O SABER QUE TRANSFORMA NOSSO SER)-------------------*/

/*---------------------baner (PRINCIPAIS CURSOS)-------------------*/
.section2{
       text-align: center;
       padding: 10px;
       margin-top: 13px;      
       margin-bottom: 15px; 
}

.cursocontainer{ 
    display: flex;
    text-align: left;
    gap: 1.5rem;   
}
.article-cursos{
    flex: 1;
}
.article-cursos img{
    display: block;
    width: 100%;
}

.curso-conteudocards{
    padding: 1rem 1.25rem;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    border: solid 1px #949494;
    border-top: transparent;
}
.conteudo-section2-img p{
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.section3 h2{
    margin-top: 15px;
}
.curso-btn{
    color: black;
    background-color: var(--colorr--);
    border-radius: 4px;
    font-size: 1.8rem;
    padding: 10px 25px;
    text-decoration: none;
    margin-top: 12px;
  
}

.h2-btn {
    text-align: center;
}
.h2-btn h2{
      padding: 3.5rem;
}
.butão{
    padding: 3.5rem;
}

/*----------------------------*/
.section3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.onteudoescola{
    padding: 12px;
    
}
/*-----------contatos maps-------------------*/
.div-section4{
   text-align: center;
}
.div-section4 h2{
    margin: 19px;
}
.contatos{
   text-align: right;
   line-height: 1.5rem;
   margin-top: 12px;
   font-size: 19px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.mapa{
    width: 100%;
    border-radius: 12px;
}
/*-----------contatos maps-------------------*/

.rodape{
    font-size: 1.6rem;
    text-align: center;
    padding: 4.5rem;
    background-color:rgb(44, 42, 42);
   margin-top: 15px;
   
}
.rodape a{
    background-color: inherit;
    text-decoration: none;
    color: #FED001;
   
}
