.container{
    border: outset 8px orchid;
    margin-bottom: 10px;
    width: 700px;
    height: 350px;
    padding: 5px;
}
.container div{
    border: solid 2px #ccc;
    background-color: blue;
    color: white;
    font-weight: 900;
    font-size: 30px;
    width: 100px;
    margin: 10px;
}
/*----trabalhando com container---*/
.container1{
    display: flex;
    justify-content: space-between;
}
.container2{
    display: flex;
    align-items: end;
}

.container3 div{
    width: 190px;
}
.container3{
   display: flex;/**/
   flex-wrap: wrap;
   align-content: center;
}
.container4{
    display: flex;
}
/*-----trabalahndo com itens dentro do container-----*/
.container1 .div1{
    flex-basis: 300px;
}

.container2 .div21{
    flex-grow: 1;
}
.container2 .div24{
    flex-grow: 2;
}
.container4 div{
    flex-basis: 30px;
}
