html,
body {
    min-height: 100%;
   background-image: url(/html-css-js/atividades_desafios/ProjetoCSS-flexbox-desafio/imagens/bg-2.jpg);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  
}

h1{
text-align: center;
text-transform: uppercase;
color: white;
text-shadow: 2px 2px 2px black;
margin-top: 50px;
}
.div-p{
    display:flex;
    justify-content: center;
}
.header-p{
    color: white;
    padding: 15px;
    display:inline-block;
    background-color: rgba(0, 0, 0, 0.584);
    margin: 30px;
    border-bottom: 2px solid white;
}
section{
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    width: 860px;
    margin: auto;/*um margin-auto faz o conteinar se alinha ao centro*/
    background-color: white;
    padding: 16px;
}
.section-div{
    flex-basis: 250px;
    flex-grow: 1;
}
.section-div img{
    width: 100%;
    display: block;
}
.section-div p{
   background-color: #393535;
   margin: 0%;
   padding: 8px;
   color: white;
}