
body{
   font-family: sans-serif;  
   width: 70%;
   margin:auto;
   margin-bottom: 90px;
   font-size: 22px;
   font-family: sans-serif;
   color: white;
   text-align: center;

   background-image: url(universo.avif);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment:fixed;
   background-position: left;
   
}
p{
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 50px;
}
img{
    width: 20%;
    height: 200px;  
    padding: 10px;
    border-radius: 400px;
}

.neymar{
    float: left;
}   
.messi{
   float:right;
}
.mbappe{
    float: left;
}




















.menu ul{
    display: flex;
    gap: 1rem;
    justify-content: end;
    padding: 20px;
    
}
.menu li{
    list-style: none;
}

.Git{
    background-color: rgb(132, 1, 255);
    color:white;
}
.Git:hover{
    background-color: blueviolet;
    color:white;
}
.Lin{
    background-color: blue;
    color: white;
}
.Lin:hover{
    background-color: rgb(15, 15, 120);
    color: white;
}
.You{
  background-color: red;
  color: black;
}
.You:hover{
    background-color: black;
    color: red;
  }
.menu a {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 12px;
    border-bottom: solid black ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
