<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flaot clear</title>
    <link rel="stylesheet" href="css/float_clear.css">
</head>
<body>
    <div class="conteiner">
       <div id="div1">div 1</div>
       <div id="div2">div 2</div>
       <div id="div3">div 3</div>
       <div id="div4">div 4</div>
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus quam accusantium perspiciatis, numquam nulla, sed error nam ea optio vel amet excepturi sunt? Ut, sapiente, a reprehenderit odit consequuntur ratione exercitationem ex aliquid quo voluptatem dolores provident, assumenda fuga? Consectetur aut pariatur beatae impedit inventore aliquam eligendi sunt, maiores, dolores voluptatum est id quos debitis necessitatibus adipisci dolore ullam! Sint tempore dignissimos quasi! Explicabo nesciunt odit unde saepe sed debitis, consequuntur molestias distinctio, possimus dolorum, atque numquam soluta libero nisi.</p>
    </div>
</body>
</html>