.conteiner{
     display: flex;
     margin-top: 15%;
     margin-left:20%;
}
#div1{
    
    margin: 10px;
    height: 200px;
    width: 200px;
    background-color: blue;
}
#div2{
    margin: 10px;
    height: 200px;
    width: 200px;
    background-color: blueviolet;
}
#div3{
    margin: 10px;
    height: 200px;
    width: 200px;
    background-color: brown;
}