<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fit-content</title>
    <link rel="stylesheet" href="css/overflow.css">
</head>
<body>
    <div class="conteiner fit-content overflow-hidden">
           <div class="item">lorem</div>
              <div class="item">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, id?</div>
               <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam distinctio tenetur excepturi cum. Natus molestiae, explicabo beatae sint esse error.</div>
                 <div class="item">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum voluptatem veritatis perspiciatis cupiditate doloremque nesciunt et neque eveniet adipisci, impedit sequi, nihil quas dolorum culpa consequatur accusantium. Quos officiis ratione adipisci nesciunt vitae magni neque minima provident est tempore recusandae distinctio quam iste maxime odit assumenda aliquid totam, cumque vero rerum quia reprehenderit error sit necessitatibus. Optio doloribus consequatur illum nostrum voluptatum quisquam molestiae quibusdam voluptates cumque dolorem impedit tenetur quo mollitia perspiciatis aliquid dolore ullam, corrupti nesciunt facere itaque obcaecati exercitationem enim? Corrupti, minima at? Adipisci labore animi maiores ea eos in sunt commodi facilis laboriosam aut. Assumenda, aspernatur.</div>
    </div>
    <div class="conteiner overflow-scroll">
          <div class="min-content ">
             <div class="item">lorem</div>
               <div class="item">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, id?</div>
                 <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam distinctio tenetur excepturi cum. Natus molestiae, explicabo beatae sint esse error.</div>
                   <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quas dignissimos ullam impedit rerum at saepe, vel libero obcaecati quia, cupiditate officia unde ab eum.</div>
         </div>
    </div>
       <div class="conteiner overflow-auto">
       <div class="max-content ">
        <div class="item">lorem</div>
        <div class="item">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, id?</div>
        <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam distinctio tenetur excepturi cum. Natus molestiae, explicabo beatae sint esse error.</div>
        <div class="item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quas dignissimos ullam impedit rerum at saepe, vel libero obcaecati quia, cupiditate officia unde ab eum.</div>
       </div>
    </div>
</body>
</html>