<!DOCTYPE html>
<html lang="PT-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/position2.0.css">
</head>
<body>
      <div class="div1">
          caixa 1
           <div class="div2">
             caixa 2
               <div class="div3">
                    caixa 3
               </div>
           </div>
      </div>
</body>
</html>

<!--
   
    Static (Padrão):

O elemento segue o fluxo normal do documento.
Não é afetado pelas propriedades top, bottom, left e right.
Relative (Relativo):

O elemento é posicionado relativamente ao seu posicionamento normal.
As propriedades top, bottom, left e right ajustam a posição em relação a sua posição original.
Absolute (Absoluto):

O elemento é removido do fluxo normal do documento e posicionado em relação ao seu primeiro ancestral posicionado.
As propriedades top, bottom, left e right definem a posição em relação a esse ancestral.
Fixed (Fixo):

O elemento é removido do fluxo normal do documento e posicionado em relação à janela do navegador.
Mantém sua posição mesmo quando a página é rolada.
Sticky (Pregado):

O elemento se comporta como relative até que ele alcance um determinado ponto na janela do navegador.
Então se comporta como fixed, permanecendo na mesma posição à medida que a página é rolada.
Resumindo, position permite controlar a posição de elementos HTML em relação a outros elementos ou à janela do navegador, dando mais flexibilidade no design de páginas web.









-->