<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cursoweb</title>
    <link rel="stylesheet" href="css/z-index2.0.css">
</head>
<body>
    <h1 style="color: green; font-size: 3rem; text-align: center;margin: 0;">REFAZENDO <mark>2.0</mark></h1>
     <p style="text-align: center; font-size: 2.5rem;margin: 0;"><a href="https://trello.com/b/E0L34haD/student-development" target="_blank">https://trello.com</a> </p>
       <hr>
     <!-- abixo refazendo acima padrão -->

       <div class="container">
           <div class="tela1">z-index</div>
           <div class="tela2">z-index</div>
           <div class="tela3">z-index</div>
           <div class="tela4">z-index</div>
       </div>  
       
       
        
</body>
</html>